.sidebarChannel:hover > h4{
    color: white;
    background-color: #40464b;
}

.sidebarChannel > h4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: grey;
    cursor: pointer;
}

.sidebarchannel__hash{
    font-size: 30px;
    padding: 10px;
}